################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ExtNetWebApp/.vs/ExtNetWebApp/v15/Server/sqlite3
